:root {
    --primary-color :#252422; 
    --secondary-color :#FFFCF2; 
    --button-color :#96f004; 
    --background-color :#CCC5B9; 
    --font-color :#403D39; 
    --base-white-color :#ffffff; 
    --base-black-color :#000000; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-padding-top: 80px;
}
body {
    font-family: 'Nunito', 'BaiJamjuree';
    background-color: rgb(243, 243, 243);
}

header {
    background-color: var(--primary-color);
    
}

.nav {
    a {
        transition: 0.4s;
        color: var(--base-white-color);
        text-decoration: none;
        padding: 5px;
        margin: 0 5px;
        position: relative;
      }
      a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--button-color);
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s;
      }
      a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
}
.nav-link {
    color: var(--base-white-color);
    transition: all 0.3s ease;
    
}
.nav-link:hover {
    color: var(--button-color);
    transition: all 0.3s ease;
}

.btn {
    background-color: var(--button-color);
    color: #000000;
    border: none;
    border-radius: 999px;
    padding:  10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
    a {
        text-decoration: none;
        color: var(--base-black-color);
    }
    
}
.btn:hover {
    background-color: var(--base-black-color);
    a {
        color: var(--base-white-color);
    }
}

.btn-outline-secondary {
    background-color: transparent;
    border: 2px solid var(--base-black-color);
}
.btn-outline-secondary:hover {
    border: 2px solid var(--base-black-color);
}
.contact-main {
    display: flex;
    padding: 0px 0 20px 0;
    .circle {
        margin: 0 20px 0 0;
        border : 1px solid var(--base-black-color);
        padding: 15px 18px;
        border-radius: 999px;
        background-color: var(--base-white-color);
    }
    .circle:hover {
        background-color: var(--base-black-color);
        transition: all 0.3s ease;

        i {
            color: var(--base-white-color);
        }
    }
    i {
        font-size: 30px;
        color: var(--base-black-color);
    }
}
.footer-container {
    background-color: var(--primary-color);
}
.img-size {
    width: auto;
    height: 600px;
    object-position: top;
}
.logo-size {
    width: 70px;
    height: auto;
}
.circle {
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
    margin: 20px 100px 0 100px;
    padding: 5px 0;
    border-radius: 20px;
}
.circle2 {
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
    margin: 20px 200px;
    padding: 5px 0;
    border-radius: 20px;

}
.full-screen-menu {
    display: none;
}

.hamburger-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .circle {
        margin: 10px 90px;
    }
    .circle2 {
        margin: 10px 180px;
    }
    .hamburger-icon {
        display: none;
    }
}


/* Tablet Responsive*/
@media screen and (max-width: 992px) {
    header {
        text-align: center;
    }
    .about {
        margin: 0 auto;
    }
    .text {
        text-align: center;
    }
    .lead {
        text-align: start;
    }
    .contact-main {
        justify-content: center;
    }
    .btn {
        width: 100%;
    }
    .circle {
        margin: 10px 110px;
    }
    .circle2 {
        margin: 10px 110px;
    }
    .card-pers {
        text-align: center;
        width: 100%;
        .btn-group {
            width: 100%;
        }
    }
    h2 {
        white-space: normal;
        display: block; 
        text-align: center;
    }
    .Per1{
        display: flex;
        flex-direction: column-reverse;
        .img {
            width: 100%;
            height: auto;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .Per2 {
        display: flex;
        flex-direction: column;
        .img {
            width: 100%;
            height: auto;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .button1 {
        white-space: nowrap;
        display: inline-block;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center; 
        
    }
}

/* Mobile Responsive*/
@media screen and (max-width: 768px) {
    /* .row {
        border: 1px solid black;
    } */
    .about {
        margin: 0 auto;
    }
    /* .card {
        border: 1px solid red;
    } */
    .circle {
        margin:10px 70px;

    }
    .circle2 {
        margin: 10px 190px;
    }
    .btn-outline-secondary {
        margin-bottom: 20px;
    }
    .Per2 {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 576px) {
    nav {
        display: none;
    }
    .logo {
        margin-top: 20px;

    }
    .hamburger-icon {
        display:block;
        font-size: 2rem;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 20px;
        right: 30px;
        
    }
    button {
        margin-bottom: 30px;
    }
    .full-screen-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9); /* พื้นหลังสีดำโปร่งแสง */
        color: white;
        text-align: center;
        padding-top: 50px;
        z-index: 999;
    }

    .full-screen-menu ul {
        list-style: none;
        padding-top: 50px;
    }

    .full-screen-menu ul li {
        margin: 20px 0;
    }

    .full-screen-menu ul li a {
        font-size: 20px;
        color: white;
        text-decoration: none;
    }

    .full-screen-menu ul li a:hover {
        color: var(--secondary-color);
    }

    /* ปุ่มปิดเมนู */
    .close-btn {
        font-size: 32px;
        position: absolute;
        top: 20px;
        right: 30px;
        cursor: pointer;
        color: rgb(255, 255, 255);
    }
    .button1 {
        display: none;
    }

    
}

@media screen and (min-width: 576px) {
    
    .circle {
        margin: 10px 190px;
    }
    .circle2 {
        margin: 10px 190px;
    }
    h2 {
        white-space: normal;
        display: block; 
        text-align: center;
    }

    
    

}
